@import '../../assets/styles/variables';

.wrapper {
  &[class~='test-table'] {
    margin-top: 16px;
    border-radius: 0;

    [class~='ant-table-container'] {
      border-start-start-radius: 0;
      border-start-end-radius: 0;

      table > thead > tr:first-child > *:first-child {
        border-start-start-radius: 0;
      }

      table > thead > tr:first-child > *:last-child {
        border-start-end-radius: 0;
      }
    }

    th[class~='ant-table-cell'] {
      background: $grey-3 !important;
    }

    ::-webkit-scrollbar {
      height: 4px;
    }

    ::-webkit-scrollbar-thumb {
      background: $grey-5;
      border-radius: 4px;

      &:hover {
        background: $grey-6;
      }
    }

    [class~='ant-table-sticky-scroll-bar'] {
      display: none;
    }
  }
}
