.ant-input-affix-wrapper.ant-input-affix-wrapper-disabled {
  .ant-input.ant-input-disabled {
    box-shadow: unset !important;
  }
}

.ant-dropdown-menu-title-content a {
  text-decoration: none;
}

.ant-table-cell.ant-table-cell-fix-right.ant-table-cell-fix-right-first{
  text-align: left !important;
}

.test-game-view-assets-square {
  width: 150px;
}